@charset "UTF-8";
/* @import url(font-awesome.min.css); */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

html, body, div, span,  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,  em, img, ins, kbd, q, s, small,  strong, b, u, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, menu, nav,  section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font-family: poppins;
	}

	body {
		line-height: 1;

	}

	ol, ul {
		list-style: none;
	}

h1{
	font-size: 1.5em;
	font-weight: 600;
	margin: 0.5em;
}

h2{
	font-size:1.4em;
	font-weight: 600;
	margin: 0.4em;
	text-align: center;
}

h3{
	font-size: 1.3em;
	font-weight: 600;
	margin: 0.3em;
}

h4{
	font-size: 1.2em;
	font-weight: 600;
	margin: 0.3em;
}

h5{
	font-size: 1.1em;
	font-weight: 600;
	margin: 0.1em;
}

h6{
	font-size: 1em;
	font-weight: 600;
	margin: 0.1em;
}

 #menu{
	 float: right;
	 padding: 15px 5px;
	position: relative;
 }

 .side-menu{
	 position: fixed;
	 display: none;
	 background-color: #073642;
	 width: 200px;
	 height: 100%;
	 padding: 10px;
 }
 .side-menu ul li {

 }

 #menu-toggle{
	 position: fixed;
	 left: 20px;
	 top: 28px;
	 color: white;
	 z-index: 10;
 }
 #calltoaction{
	 padding: 10px;
	 background-color: #fff;
	 border: #1d1d1d;
	 position: absolute;

 }
 #side-menu-close{
	 float: right;
 }
	.card{
		width: 400px;
		height: auto;
		box-shadow: 2px 2px rgb(255,255,255);
		padding: 3px;
		margin: 4px;
}

#side-menu-links{
	margin-top: 50px;
}
#side-menu-links li{
	display: block;
	margin: 1.5em 1.5em;
}
.links li {
	display: inline;
	margin: 20px 25px;
}

.links li a {
	text-decoration: none;
 font-size: 0.8em;
 display: inline;
 color: #fff;
 font-weight: 600;
}

.links li a:hover{
	text-decoration-style: wavy;
}

.banner-full{
	background-image:url(../images/bush.jpeg);
	background-size:cover;

}

#particles-js{
text-align: center;
vertical-align: middle;
}

#typed-wrapper{
	position: absolute;
	top: 50%;
	font-size: 2.5em;
	font-weight: bold;
	color: #fff;
	box-sizing: inherit;
	width: 1000px;
	margin-left: 40%;



}
#map{
	height: 400px;
}
#typed{
	text-align: center;
	width: inherit;
}

.parallax{
	background-image: url(../images/umbrella.jpg);
	height: 41%;
	background-size: cover;
	background-attachment: fixed;

}
.parallax-line{
	width: 200px;
	height: 0;
	margin-top: 50px;
}

#second-parallax{
	background-image: url(../images/banner.jpeg);

}

#footer {
	padding: 4em 0 2em 0 ;
	background: #000;
	text-align: center;
	}

#footer ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.label {
	margin: 10px;
	font-size: 0.7em;
}
.label a {
	text-decoration: none;
}
#footer a {
	color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
	color: #FFF;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.7em;
	margin: 20px;
	padding: 0;
	text-align: center;
}
