@charset "UTF-8";
/* @import url(font-awesome.min.css); */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

html, body, div, span,  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,  em, img, ins, kbd, q, s, small,  strong, b, u, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, menu, nav,  section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

 #menu{
	 float: right;
	 padding: 5px 5px;

 }
	.card{
		width: 400px;
		height: auto;
		box-shadow: 2px 2px solid #aeaeae;
		padding: 3px;
		margin: 4px;
	}
#links li {
	display: inline;
	margin: 2px 100px;
}

#links li a {
	text-decoration: none;
 font-size: 14px;
 display: inline-block;
}
.banner-full{
	background-image:url(../images/banner.jpeg);
	background-size:cover;

}
#particles-js{
text-align: center;
}
#typed-wrapper{
	position: relative;
	top: 50%;
	font-size: 2.5em;
	font-weight: bold;
	color: #fff;
	box-sizing: inherit;

}
#typed{
	text-align: center;
}
#footer {
	padding: 4em 0 2em 0 ;
	background: #000;
	text-align: center;
	}

#footer ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.icon > .label {
	display: none;
}

#footer a {
	color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
	color: #FFF;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
}
